/* Sidenav.css */
.sidenav-custom {
    background-color:var(--color-primary); /* Fondo oscuro elegante */
    color: var(--color-desc);/* Texto claro */
    padding: 20px;
  }
  
  .sidenav-custom .offcanvas-header {
    border-bottom: 1px solid #7f8c8d; /* Línea separadora */
  }
  
  .sidenav-custom .offcanvas-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-desc);
  }
  
  .sidenav-custom .offcanvas-body {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .sidenav-custom h5 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--color-success); /* Color amarillo dorado para títulos */
  }
  
  .sidenav-custom p {
    color: var(--color-desc);
    margin-bottom: 15px;
  }
  
  .sidenav-custom strong {
    color: var(--color-success); /* Color naranja dorado para el texto destacado */
  }
  
  .sidenav-custom .btn-close {
    filter: invert(1); /* Cambia el color del botón de cierre a blanco */
  }
  