/* Sidenav.css */
.sidenav-custom {
    background-color:var(--coor-desc); /* Fondo oscuro elegante */
    color: var(--color-desc);/* Texto claro */
    padding: 20px;
  }
  
  .sidenav-custom .offcanvas-header {
    border-bottom: 1px solid #7f8c8d; /* Línea separadora */
  }
  
  .sidenav-custom .offcanvas-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-desc);
  }
  
  .sidenav-custom .offcanvas-body {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .sidenav-custom h5 {
    font-size: 20px;
    margin-bottom: 10px;

  }
  
  .sidenav-custom p {
    color: var(--color-desc);
    margin-bottom: 15px;
  }
  
  .sidenav-custom strong {
    color: var(--color-h5); /* Color naranja dorado para el texto destacado */
  }
  
  .sidenav-custom .btn-close {
    filter: invert(1); /* Cambia el color del botón de cierre a blanco */
  }
  .container-foliage {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .container-foliage img {
    width: 50px; /* Ajusta el tamaño de la imagen aquí */
    height: auto;
    margin-right: 15px; /* Espacio entre la imagen y el texto */
  }
  
  .container-foliage p {
    font-size: 16px;
    margin: 0;
  }
  