.sidenav-custom {
    width: 400px;
}

.title {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 1.5rem;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: black; /* Color inicial negro */
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: color 0.3s ease; /* Transición suave del color */
}

.close-btn:hover {
    color: red; /* Cambia a rojo al pasar el cursor */
}

.scientific-name {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #2e8b57;
    font-weight: bold;
}

