.container {
    margin-top: 70px;
}

.card {
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Adapta la imagen a la tarjeta */
}

.sidenav-custom {
    width: 400px;
}

.scientific-name {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #2e8b57;
    font-weight: bold;
}

.welcome-description {
    font-size: 16px;
    color: var(--color-primary);
    margin-bottom: 20px;
}

.tree-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
}

/* Estilos para la barra de búsqueda */
.search-bar-container {
    display: flex;
    justify-content: center;
}

.search-bar-container input {
    max-width: 400px;
    border-radius: 5px;
}
