/* tokens.css */
:root {
    --color-primary: #8C8C8C;
    --color-secondary: #9718ab;
    --color-success: #D97197;
    --color-danger: #e78a8a;
    --color-tercy: #8C8C8C;
    --coor-desc: #F2F2F2;
  
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
  
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 24px;
  }